## 錄取分數表格
小明今年考大學  
依照 ["國文", "英文", "數甲", "數乙", "物理", "化學", "生物", "歷史", "地理", "公民"]  
他的分數分別是 [86.5, 79.4, 88.2, 96.5, 86.3, 76.8, 96.1, 78.5, 82.4, 88.6]  
而他所想申請的大學各系採計的科目權重分別是  
{  
"土語系": [2, 2, 0, 1, 0, 0, 0, 1, 1, 0],  
"財政系": [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0],  
"金融系": [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0],  
"國貿系": [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0],  
"會計系": [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0],  
"法律系": [1, 2, 0, 1, 0, 0, 0, 1, 0, 1],  
"公行系": [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25],  
"應數系": [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0],  
"教育系": [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0]  
}   
  
請幫他做出一個表格  
第一欄顯示科系  
接下來顯示權重 並標示科目  
最後一欄顯示加權分數  

### 範例輸出
![範例圖示1](https://imgur.com/H5XFtft.png)

### Hint
* 在dataframe最左邊那欄叫index 最上面叫columns
* 小明的分數跟各科系權重可以直接複製上面的文字使用
* 表格裡面的內容可以用for迴圈跑過個科系 取出該科系的權重 然後整理成一個二維的list
* 加權分數的算法可以試試看直接把表格跟分數相乘 會有意想不到的結果喔
* 如何算加權分數可以參考影片 0502 用熊貓做基本數據分析

In [1]:
import pandas as pd

In [2]:
subject =  ["國文", "英文", "數甲", "數乙", "物理", "化學", "生物", "歷史", "地理", "公民"]
weights = {
    "土語系": [2, 2, 0, 1, 0, 0, 0, 1, 1, 0],
    "財政系": [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0],
    "金融系": [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0],
    "國貿系": [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0],
    "會計系": [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0],
    "法律系": [1, 2, 0, 1, 0, 0, 0, 1, 0, 1],
    "公行系": [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25],
    "應數系": [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0],
    "教育系": [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0]
}
scores = [86.5, 79.4, 88.2, 96.5, 86.3, 76.8, 96.1, 78.5, 82.4, 88.6]

In [3]:
mydata = list()
for department in weights:
    mydata.append(weights[department])
mydata

[[2, 2, 0, 1, 0, 0, 0, 1, 1, 0],
 [1, 1.5, 0, 1.5, 0, 0, 0, 0, 0, 0],
 [1, 1.5, 0, 2, 0, 0, 0, 0, 0, 0],
 [1.5, 2, 0, 2, 0, 0, 0, 0, 0, 0],
 [1.5, 2, 0, 2, 0, 0, 0, 1, 1, 0],
 [1, 2, 0, 1, 0, 0, 0, 1, 0, 1],
 [1, 1.5, 0, 1.25, 0, 0, 0, 0, 0, 1.25],
 [1, 1, 1.5, 0, 1, 1, 0, 0, 0, 0],
 [1.5, 2, 0, 1.25, 0, 0, 0, 1, 1, 0]]

In [4]:
df = pd.DataFrame(mydata, columns=subject, index=weights.keys())
df

      國文   英文   數甲    數乙  物理  化學  生物  歷史  地理    公民
土語系  2.0  2.0  0.0  1.00   0   0   0   1   1  0.00
財政系  1.0  1.5  0.0  1.50   0   0   0   0   0  0.00
金融系  1.0  1.5  0.0  2.00   0   0   0   0   0  0.00
國貿系  1.5  2.0  0.0  2.00   0   0   0   0   0  0.00
會計系  1.5  2.0  0.0  2.00   0   0   0   1   1  0.00
法律系  1.0  2.0  0.0  1.00   0   0   0   1   0  1.00
公行系  1.0  1.5  0.0  1.25   0   0   0   0   0  1.25
應數系  1.0  1.0  1.5  0.00   1   1   0   0   0  0.00
教育系  1.5  2.0  0.0  1.25   0   0   0   1   1  0.00

In [5]:
df["加權分數"] = (df * scores).sum(1)

In [6]:
df

      國文   英文   數甲    數乙  物理  化學  生物  歷史  地理    公民     加權分數
土語系  2.0  2.0  0.0  1.00   0   0   0   1   1  0.00  589.200
財政系  1.0  1.5  0.0  1.50   0   0   0   0   0  0.00  350.350
金融系  1.0  1.5  0.0  2.00   0   0   0   0   0  0.00  398.600
國貿系  1.5  2.0  0.0  2.00   0   0   0   0   0  0.00  481.550
會計系  1.5  2.0  0.0  2.00   0   0   0   1   1  0.00  642.450
法律系  1.0  2.0  0.0  1.00   0   0   0   1   0  1.00  508.900
公行系  1.0  1.5  0.0  1.25   0   0   0   0   0  1.25  436.975
應數系  1.0  1.0  1.5  0.00   1   1   0   0   0  0.00  461.300
教育系  1.5  2.0  0.0  1.25   0   0   0   1   1  0.00  570.075